 * {
     font-family: 'Stylish', sans-serif;   }

     .card{
      margin: auto;
      border: hidden;
     }

     .button > button{
      margin-top: 10px;
      margin-left: 45%;
     }

    

  
     
   